body {
    background: #BDBDBD;
}

h1 {
    font-family:'Shadows Into Light Two', cursive;
    font-weight: bold;
    font-size: 60px;
    color: white;
}
h2 {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.header {
    padding: 20px 0;
    margin-bottom: 100px;
    background-color: black;
    height: 150px;
    
}

.logo{
    position: relative;
    display: inline-block;
    color: white;
    font-size: 70px;
    height: 100px;
    width: 100px;
    border:2px solid white;
    border-radius:100%;
    margin-left:20px;
    margin-top:0px;
    text-align: left;
    padding:12px;
    font-family:'Playball', cursive;
   
} 
.menu ul{
    font-size: 1em;
    color:white;

}

.photo {
    width;: 400px;
    height: 400px;
    border-radius: 100%;
    margin: 40px;
}

.btn-contact {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    color: blanchedalmond;
    padding: 1em;
}

.section {
    background-color: white ;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    
}