body {
    background: #BDBDBD;
}

h1 {
    font-family:'Shadows Into Light Two', cursive;
    font-weight: bold;
    font-size: 60px;
    color: white;
}
h2 {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.header {
    padding: 20px 0;
    margin-bottom: 40px;
    background-color: black;
    
}

.logo{
    color: white;
    font-size: 70px;
    
    font-family:'Playball', cursive;
}  

img.profile {
    width:100%;
}

.btn-contact {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    color: blanchedalmond;
    padding: 1em;
}

.section {
    background-color: white ;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    
}